---
import PageLayout from '~/layouts/PageLayout.astro';
import ColorConverter from '~/components/colorConverter/color';
---

<PageLayout>
  <h3>Color Convertor</h3>
  <ColorConverter client:idle />
</PageLayout>
