---
import HashCalculator from '~/components/hash-calc/HashCalculator'
import PageLayout from '~/layouts/PageLayout.astro'
---

<PageLayout>
  <h3>Hash Calculator</h3>
  <HashCalculator client:idle />
</PageLayout>
