---
import Welcome from '../components/Welcome.astro'
import PageLayout from '../layouts/PageLayout.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<PageLayout>
  <ul class="app-list">
    <li><a href="/colors">Color Convertor</a></li>
    <li><a href="/query-to-json">Query string to JSON</a></li>
    <li><a href="/uri-tools">Encode/Decode URI Components</a></li>
    <li><a href="/format-json">Format JSON</a></li>
    <li><a href="/escape-convert">Escape Convertion</a></li>
    <li><a href="/tex-table-to-other">Tex Table to Other</a></li>
    <li><a href="/hash">Hash</a></li>

  </ul>
</PageLayout>

<style>
  .app-list {
    list-style: none;
    padding: 0;
  }
  .app-list li {
    margin-bottom: 1rem;
  }
</style>
