---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <ul class="app-list">
    <li><a href="/colors">Color Convertor</a></li>
    <li><a href="/query-to-json">Query string to JSON</a></li>
    <li><a href="/uri-tools">Encode/Decode URI Components</a></li>
    <li><a href="/format-json">Format JSON</a></li>
    <li><a href="/escape-convert">Escape Convertion</a></li>
    <li><a href="/tex-table-to-other">Tex Table to Other</a></li>
    <li><a href="/hash">Hash</a></li>
    <li><a href="/img-hide">光棱坦克</a></li>
    <li><a href="/time-gap">时间差</a></li>
    <li><a href="/monochrome-image">图像去色</a></li>
  </ul>
</PageLayout>

<style>
  .app-list {
    list-style: none;
    padding: 0;
  }
  .app-list li {
    margin-bottom: 1rem;
  }
</style>
