---
import ThemeIcon from './ThemeIcon.astro'
---

<div id="container">
  <main>
    <ThemeIcon />
    <section id="hero">
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your project.
      </h1>
      <section id="links">
        <a class="button" href="https://docs.astro.build">Read our docs</a>
      </section>
    </section>
  </main>

  <a href="https://astro.build/blog/astro-5/" id="news" class="box">
    <h2>What's New in Astro 5.0?</h2>
    <p>
      From content layers to server islands, click to learn more about the new features and
      improvements in Astro 5.0
    </p>
  </a>
</div>
